{{ partial "header.html" . }}
<body>
    <div id="layout" class="pure-g">
    {{ partial "sidebar.html" . }}

    <div class="content pure-u-1 pure-u-md-3-4">

        {{ partial "singletop.html" . }}

        {{ if not .Params.notoc }}
        {{ if .TableOfContents }}
        <div id="toc" class="pure-u-1 pure-u-md-1-4">
            <small class="toc-label">Contents</small>
            {{ .TableOfContents }}
        </div>
        {{ end }}
        {{ end }}
        <section class="post">
            <h1 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
            {{ if .Params.subtitle }}
            <h3 class="post-subtitle">
                {{ .Params.subtitle }}
            </h3>
            {{ end }}
            {{ partial "post/post_meta.html" . }}
            <section class="post-content">
                {{ .Content }}
            </section>
            <div class="tags-footer">
            {{ partial "post/post_taxonomies" . }}
            </div>
            {{ if not .Params.nopaging }}
            <div class="paging">
                {{ if .PrevInSection }}
                <span class="paging-older">
                    <span class="dark-red">Previous post</span><span class="decorative-marker">//</span>
                    <a class="paging-link" href="{{ .PrevInSection.RelPermalink }}">{{ .PrevInSection.Title }}</a>
                </span>
                {{ end }}
                {{ if .NextInSection }}
                <span class="paging-newer">
                    <span class="dark-red">Next post</span><span class="decorative-marker">//</span>
                    <a class="paging-link" href="{{ .NextInSection.RelPermalink }}">{{ .NextInSection.Title }}</a>
                </span>
                {{ end }}
            </div>
            {{ end }}
            {{ if not .Params.nosocialsharing }}
                {{ partial "post/socialsharing.html" . }}
            {{ end }}
        </section>
    {{ if not .Params.nocomment }}
        {{ partial "post/disqus.html" . }}
    {{ end }}
    {{ partial "footer.html" . }}
    </div>
    </div>
    {{ partial "bodyend.html" . }}
</body>
</html>
