{{ partial "header.html" . }}
<body>
    <div id="layout" class="pure-g">
    {{ partial "sidebar.html" . }}

    <div class="content pure-u-1 pure-u-md-3-4">

        {{ partial "singletop.html" . }}

        {{ if not .Params.notoc }}
        {{ if .TableOfContents }}
        <div id="toc" class="pure-u-1 pure-u-md-1-4">
            <small class="toc-label">Contents</small>
            {{ .TableOfContents }}
        </div>
        {{ end }}
        {{ end }}
        <section class="post">
            <h1 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
            {{ if .Params.subtitle }}
            <h3 class="post-subtitle">
                {{ .Params.subtitle }}
            </h3>
            {{ end }}
            {{ partial "post_meta.html" . }}
            <section class="post-content">
                {{ .Content }}
            </section>
            {{ if not .Params.nosocialsharing }}
            {{ partial "socialsharing.html" . }}
            {{ end }}
            {{ if .Params.tags }}
            <div class="tags-list">
                <span class="dark-red">Tags</span>
                <span class="decorative-marker">//</span>
                {{ range .Params.tags }}
                <a class="post-tag post-tag-{{ . | urlize }}" href="/tags/{{ . | urlize }}">{{ . }}</a>
                {{ end }}
            </div>
            {{ end }}
            {{ if not .Params.nopaging }}
            <div class="paging">
                {{ if .NextInSection }}
                <div class="paging-older">
                    <span class="dark-red">Newer</span><span class="decorative-marker">//</span>
                    <a class="paging-link" href="{{ .NextInSection.RelPermalink }}">{{ .NextInSection.Title }}</a>
                </div>
                {{ end }}
                {{ if .PrevInSection }}
                <div class="paging-newer">
                    <span class="dark-red">Older</span><span class="decorative-marker">//</span>
                    <a class="paging-link" href="{{ .PrevInSection.RelPermalink }}">{{ .PrevInSection.Title }}</a>
                </div>
                {{ end }}
            </div>
            {{ end }}
        </section>
    {{ if not .Params.nocomment }}
    {{ partial "disqus.html" . }}
    {{ end }}
    {{ partial "footer.html" . }}
    </div>
    </div>
    {{ partial "bodyend.html" . }}
</body>
</html>
