<div class="sidebar pure-u-1 pure-u-md-1-4">
  <div class="header">
    {{ partial "sidebarheader.html" . }}

    {{ if .Site.Params.sidebarphoto}}
      <a href="/">
      <img src="{{ .Site.Params.sidebarphoto }}" class="sidebarphoto">
      </a>
    {{ end }}

    {{ if .Site.Params.sidebartitle }}
    <h1 class="brand-title">{{ .Site.Params.sidebartitle }}</h1>
    {{ end }}
    {{ if .Site.Params.sidebartagline }}
    <h2 class="brand-tagline">{{ .Site.Params.sidebartagline }}</h2>
    {{ end }}

    <nav class="nav">
      <ul class="nav-list">
        {{ range .Site.Menus.main }}
          <li class="nav-item"><span class="nav-item-separator">//</span>
            <a href="{{ .URL }}">{{ .Name }}</a>
          </li>
        {{ end }}
      </ul>

    {{ range $key, $value := .Site.Taxonomies }}
    <section>
      <header class="nav-item">{{ upper $key }}</header>

        <ul class="nav-list-taxonomies">
          {{ range first 6 $value.ByCount }}
          <li class="nav-item">
            <span class="nav-item-separator">//</span>
            <a href="/{{ $key }}/{{ .Name | urlize }}">{{ .Name }}</a>
          </li>
          {{ end }}
        </ul>

    </section>
    {{ end }}

    {{ if .Site.Menus.social }}
    <div class="social-buttons">
    <ul class="nav-list-social">
      {{ range .Site.Menus.social }}
        {{ if .URL }}
        <li class="nav-item">
          <span class="nav-item-separator">//</span>
          <a href="{{ .URL }}" target="_blank">{{ .Pre }}</a>
        </li>
        {{ end }}
      {{ end }}
    </ul>
    </div>
    {{ end }}
    </nav>
  </div>
</div>
