{{ partial "header.html" . }}
<body>
  <div id="layout" class="pure-g">
    {{ partial "sidebar.html" . }}
    <div class="content pure-u-1 pure-u-md-3-4">
      {{ partial "listtop.html" . }}
      <div class="posts">
        {{ range .Data.Terms.ByCount }}
          <section  class="taxonomy-list">
              <div id="{{ .Name | urlize }}-list" class="archive box" data-tag="{{ .Name | lower }}">
                <h4 class="archive-title">
                  <a class="link-unstyled" href="{{ .Name | urlize }}">
                    {{ .Name | upper }} ({{ .Pages | len }})
                  </a>
                </h4>
                <ul class="archive-posts">
                  {{ range .Pages.ByDate }}
                    <li class="archive-post">
                      <a class="archive-post-title" href="{{ .Permalink }}">
                        {{ .Title }}
                      </a>
                      <span class="archive-date">&mdash; {{ .Date.Format "2006-01-02" }}</span>
                    </li>
                  {{ end }}
                </ul>
              </div>
          </section>
        {{ end }}
      </div>
      {{ partial "footer.html" . }}
    </div>
  </div>
  {{ partial "bodyend.html" . }}
</body>
</html>
